<div class="call">
      {% if site.data.conference_info.registration_open %}
        <div class="call-box-top">
              <div class="call-phone"><strong>Registration Deadline: </strong> </div>
          <div class="call-email">
              {{ site.data.conference_info.deadline }}
          </div>
        </div>
      {% else %}
      <div class="call-box-top">
        <div class="call-phone"><strong>The 2021 conference has ended! </strong> </div>
        <div class="call-email">
            Thank you to everyone who attended!
        </div>
      </div>
      {% endif %}
      {% if site.data.conference_info.registration_open %}
        <div class="call-box-bottom">
          <a href="{{ site.data.conference_info.register_button_link | relative_url }}" class="button register_form_btn">Register</a>
          <a href="{{ site.data.conference_info.more_info_button_link | relative_url }}" class="button">More Info</a>
        </div>
      {% else %}
        <div class="call-box-bottom">
          <a href="{{ site.data.conference_info.contact_link | relative_url }}" class="button">Contact Us</a>
        </div>
      {% endif %}
  </div>
  